:root {
  --text-primary: #191919;
  --text-secondary: #337ab7;
  --bg-primary: #fff;
  font-family: Helvetica, Neue, Arial, sans-serif;
  font-size: 16;
  text-align: left
}

:root,
body>#root>div {
  height: 100vh
}

body {
  background-color: #fff;
  background-color: var(--bg-primary);
  color: #191919;
  color: var(--text-primary);
  display: flex;
  flex: 1 1;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 1.42857
}

button {
  cursor: pointer
}

.nav-box {
  background: transparent;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 85%, .498), inset 0 0 1px 0 hsla(0, 0%, 85%, .498);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 999
}

.nav-menu {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  height: 40px
}

.nav-menu,
.navbar-head {
  justify-content: space-between
}

.navbar-head {
  background-color: initial;
  display: grid;
  font-family: Roboto Regular
}

.title {
  cursor: pointer;
  width: 90%
}

.btn-assine {
  background-color: #f7941d;
  border: #f7941d;
  border-radius: 10%;
  color: #fff;
  color: var(--bg-primary);
  font-family: Roboto Regular;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 20px;
  padding: .5em;
  text-align: center
}

.navbar {
  background-color: initial;
  font-size: 14px;
  width: 100%;
  z-index: 1
}

.navbar-nav {
  bottom: 0;
  display: flex;
  flex-direction: row;
  top: 1px;
  width: 100%
}

.compartilhe-colunista {
  display: none
}

.nav-item {
  align-items: center;
  display: flex;
  justify-content: center
}

.logo-container {
  display: none
}

.hamburguer {
  background-color: #fafafa;
  border: 1px solid #ececec;
  border-radius: 10%;
  height: 34px;
  left: 8px;
  position: absolute;
  width: 34px
}

.hamburguer-bottom,
.hamburguer-mid,
.hamburguer-top {
  border: 2px solid;
  left: 15%;
  margin-bottom: 2px;
  position: absolute;
  width: 60%
}

.hamburguer-mid {
  top: 25%
}

.hamburguer-bottom {
  top: 52.5%
}

.ad-box {
  width: 100%
}

.publicidade {
  align-items: left;
  bottom: 95%;
  color: #191919;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 143%;
  margin: 0;
  z-index: 999
}

.ad-img {
  width: 95.5vw
}

.page-title {
  height: 280px;
  width: 90%
}

.titulo-oscar {
  color: #004071;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: 14px;
  left: 0;
  line-height: 14px;
  right: 76.67%;
  text-transform: uppercase;
  top: calc(50% - 110px)
}

.titulo-repercusao {
  font-family: Merriweather;
  font-size: 28px;
  font-weight: 700;
  height: 120px;
  line-height: 38px;
  margin-top: 14px;
  top: calc(50% - 91px);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}

.subtitulo-repercusao,
.titulo-repercusao {
  color: #333;
  font-style: normal;
  left: 0;
  right: 0
}

.subtitulo-repercusao {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  height: 31px;
  line-height: 21px;
  top: calc(55% + 44.5px);
  width: 90%
}

.colunista-box {
  margin-left: 10px;
  width: 80%
}

.author {
  height: 50px;
  width: 50px
}

.author-box {
  display: flex;
  flex-direction: row;
  gap: 2em;
  height: 80px;
  width: 65%
}

.colunista-btn {
  align-items: center;
  background: #004071;
  border-radius: 4px;
  display: flex;
  flex: 1 1;
  height: 25px;
  justify-content: center;
  text-align: center;
  width: 105px
}

.colunista-text {
  color: #fff;
  font-size: 10px;
  height: 14px;
  letter-spacing: 1px;
  line-height: 14px;
  text-align: center
}

.author-name,
.colunista-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700
}

.author-name {
  color: #333;
  font-size: 18px;
  line-height: 21px
}

.fav-clock {
  position: relative;
  right: 2px;
  top: 7px
}

.coluna-time {
  bottom: 25%;
  color: #363636;
  font-family: Roboto;
  font-size: 12.5px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  width: 150px
}

.social-networks {
  gap: 10px;
  height: 30px;
  right: 100%;
  width: 110px
}

.social-box,
.social-networks {
  display: flex;
  flex-direction: row
}

.social-box {
  gap: 1em;
  height: 80px;
  margin-top: 30px
}

.google-news {
  align-items: center;
  background: #eaeaea;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  height: 40px;
  min-width: 70%
}

.social-circle {
  cursor: pointer;
  height: 30px;
  width: 30px
}

.whatsapp {
  background-color: #1bd741;
  border-radius: 100%;
  left: 35%
}

.icon {
  fill: #fff;
  bottom: 3px;
  left: 3px;
  position: relative
}

.whatsapp-icon {
  height: 22px;
  width: 22px
}

.twitter {
  background-color: #55acee;
  border-radius: 100%
}

.twitter-icon {
  height: 18px;
  left: 6px;
  top: 6px;
  width: 18px
}

.facebook {
  background-color: #3b5998;
  border-radius: 100%;
  left: -35%
}

.facebook-icon {
  height: 70%;
  left: 15%;
  top: 5px;
  width: 70%
}

.whatsapp-icon {
  fill: #ececec;
  height: 70%;
  left: 15%;
  top: 14.5%;
  width: 70%
}

.siga-google {
  bottom: 35%;
  color: #333;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: 14px;
  left: 5%;
  line-height: 14px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase
}

.google-img {
  position: relative;
  top: 80%
}

.img-box {
  align-items: center;
  left: 2%;
  top: 562px;
  width: 95%
}

.artigo-section {
  left: -5%;
  top: calc(200vw - 840px)
}

.artigo-img {
  align-items: center;
  border-radius: .606673px;
  height: 80%;
  left: 0;
  top: 0;
  width: 105%
}

.legenda-completa {
  display: flex;
  flex-direction: row;
  gap: 1em
}

.legenda-img {
  color: #191919;
  font-size: 15px;
  height: 48px;
  line-height: 18px;
  margin: 0
}

.fonte-src,
.legenda-img {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400
}

.fonte-src {
  color: #777;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  margin-left: 12%;
  width: 80%
}

.camera {
  bottom: 76.62%;
  color: #191919;
  height: 20px;
  left: .22%;
  mix-blend-mode: normal;
  opacity: .54;
  right: 93.11%;
  top: 210px;
  width: 24px
}

.text-to-speech {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, .3);
  margin-bottom: 30px;
  width: 104%
}

.audio {
  display: none
}

.audio-exemple-standing {
  position: relative;
  top: 6px;
  width: 102%
}

.corpo-artigo {
  color: #333;
  font-family: Merriweather;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  height: 646px;
  left: 10px;
  line-height: 212%;
  margin-left: 10px;
  top: calc(50vw + 751px);
  width: 95%
}

.leia-mais-section {
  border-bottom: 2px solid #d1d1d1;
  border-top: 2px solid #d1d1d1;
  display: block;
  margin-top: 20px;
  padding-bottom: 10px;
  width: 90%
}

.leia-mais-titulo {
  color: #191919;
  font-family: Merriweather;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  height: 25px;
  justify-content: space-between;
  left: 2%;
  line-height: 25px;
  position: relative;
  right: 64.78%;
  text-transform: uppercase;
  top: calc(45% - 179px);
  width: 100%
}

.artigo-card {
  bottom: 3.87%;
  display: flex;
  flex-direction: row;
  gap: 1em;
  left: 2.33%;
  margin-bottom: 12px;
  position: relative;
  right: 0;
  top: 70.36%
}

.card-img {
  border-radius: 2px;
  height: 100px;
  width: 100px
}

.card-data {
  color: #666;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  height: 16px;
  left: 32.6%;
  right: 23.95%;
  top: calc(47% - 50px)
}

.card-data,
.card-titulo {
  font-style: normal;
  line-height: 22px
}

.card-titulo {
  color: #004071;
  cursor: pointer;
  font-family: Merriweather;
  font-size: 17px;
  font-weight: 500;
  height: 54px;
  width: 179px
}

.repercusao-box {
  margin-left: 10px
}

.corrida-box,
.repercusao-box {
  color: #333;
  font-family: Merriweather;
  font-size: 21.5px;
  font-style: normal;
  font-weight: 400;
  line-height: 212%;
  width: 90%
}

.corrida-box {
  left: 10px;
  position: relative
}

.break {
  border: none;
  display: block;
  margin-bottom: 2px
}

.repercusao-titulo {
  color: #333;
  font-style: normal;
  font-weight: 700;
  height: 34px;
  line-height: 212%;
  margin-top: 5%;
  width: 102px
}

.corrida-titulo {
  margin-bottom: 9px;
  margin-top: 10px
}

.continue-bem-informado {
  display: none
}

.advertise-image {
  cursor: pointer;
  width: 100%
}

.bottom-section {
  gap: 2em;
  width: 90%
}

.bottom-section,
.fique-informado {
  display: flex;
  flex-direction: column
}

.fique-informado {
  align-items: center;
  gap: 6px;
  margin-left: 10px;
  width: 100%
}

.fique-sempre {
  color: #191919;
  font-family: Merriweather;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  width: 100%
}

.rectangle {
  border-top: 1px solid #d8d8d8;
  bottom: 62.22%;
  left: 26.43%;
  right: 24.43%;
  top: 80.67%;
  width: 51.5%
}

.siga-em {
  color: #767676;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 16px;
  left: 60px;
  line-height: 16px;
  right: 14.34%;
  text-align: center;
  text-transform: uppercase;
  top: calc(107% - 1px)
}

.google-bottom {
  width: 50%
}

.newsletter-box {
  align-items: left;
  background-color: #f7f7f7;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  padding: 10px;
  width: 102%
}

.newletter-form {
  display: flex;
  flex-direction: row;
  gap: 1em
}

.receba {
  color: #191919;
  font-family: Roboto Condensed;
  font-size: 14px;
  text-transform: uppercase
}

.comece,
.receba {
  font-style: normal;
  font-weight: 700;
  line-height: 16px
}

.comece {
  color: #9b9b9b;
  font-family: Merriweather;
  font-size: 16px
}

.envie-email {
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  color: #888;
  padding: 0 10px;
  width: 44%
}

.btn-send,
.envie-email {
  font-family: Roboto Condensed;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  line-height: 16px;
  text-transform: uppercase
}

.btn-send {
  background: #ed7d00;
  border: none;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  width: 140px
}

.social-bottom {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-left: 25%
}

.compartilhe {
  color: #363636;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 183%;
  position: relative;
  top: 5px
}

.networks-bottom {
  justify-content: space-between;
  left: 65%
}

.comentarios {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 20px;
  padding-bottom: 70px
}

.comment-btn {
  background: #004071;
  border: none;
  border-radius: 3px;
  bottom: 0;
  color: #fff;
  height: 35px;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  width: 240px
}

.comment-btn,
.para-comentar {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px
}

.para-comentar {
  color: #4a4a4a;
  height: 14px;
  left: -15%;
  text-transform: uppercase;
  top: calc(35% + 13px);
  width: 330px
}

.para-comentar a {
  color: #004071
}

.sidebar-box {
  display: none
}

@media only screen and (min-width:992px) {
  .nav-box {
    width: 100%
  }

  .nav-menu {
    height: 58px
  }

  .hamburguer {
    left: 20px;
    width: 150px
  }

  .hamburguer-desktop {
    width: 20px
  }

  .logo-container {
    align-items: center;
    color: #191919;
    display: flex;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    height: 16px;
    justify-content: center;
    left: 5%;
    line-height: 16px;
    position: relative;
    text-align: center;
    top: calc(50% - 8.5px)
  }

  .search {
    border: 1px solid hsla(0, 0%, 85%, .498);
    left: -200%;
    width: 40px
  }

  .search,
  .search-page {
    align-items: center;
    background: #fafafa;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
    position: relative
  }

  .search-page {
    border: 1px solid hsla(0, 0%, 85%, .498);
    border-left: none;
    font-size: 17px;
    left: 90%;
    top: -55%
  }

  .search-page,
  .topico {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400
  }

  .topico {
    color: #666;
    font-size: 26px;
    height: 31px;
    left: 150%;
    line-height: 119%;
    position: relative;
    right: 60.61%;
    top: calc(20% - 12px)
  }

  .search-icon {
    height: 15.45px;
    left: 11.33px;
    position: relative;
    top: 13px;
    width: 15.45px
  }

  .navbar-section {
    height: 58px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%
  }

  .title {
    left: 90.86%;
    position: relative;
    right: 68.45%
  }

  .right-pull {
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top: 1px;
    width: 195px
  }

  .icon-circle {
    background: #fafafa;
    border: 1px solid hsla(0, 0%, 85%, .498);
    border-radius: 100%;
    box-sizing: border-box;
    height: 20px;
    height: 45px;
    position: relative;
    right: 15%;
    top: 5px;
    width: 20px;
    width: 45px;
    z-index: -1
  }

  .nav-icon {
    fill: #004071;
    height: 25px;
    left: 9px;
    position: relative;
    top: 9px;
    width: 25px;
    z-index: 1
  }

  .btn-assine-desktop {
    background: #ed7d00;
    border: none;
    border-radius: 4px;
    bottom: 17.24%;
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    height: 40px;
    line-height: 16px;
    position: relative;
    right: 42.37%;
    text-align: center;
    top: 19.24%;
    width: 80px
  }

  .logged-user {
    border-left: 2px solid #d8d8d8;
    bottom: 17.24%;
    padding-left: 15px;
    position: absolute;
    right: 5.2%;
    top: 17.24%
  }

  .breadcrumb {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-style: normal;
    height: 24px;
    justify-content: space-between;
    left: -175%;
    position: relative;
    top: 50px;
    width: 100px
  }

  .breadcrumb,
  .crumbs a {
    color: #004071;
    line-height: 14px
  }

  .crumbs a {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none
  }

  .page-title {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 5.7%;
    margin-top: 1.5%;
    width: 80%
  }

  .titulo-oscar {
    color: #004071;
    display: inline-block;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    height: 14px;
    line-height: 14px;
    text-transform: uppercase;
    width: 100%
  }

  .titulo-repercusao {
    font-size: 38px;
    height: 80px;
    line-height: 40px
  }

  .subtitulo-repercusao {
    color: #333;
    font-family: Roboto;
    font-size: 15.5px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    width: 100%
  }

  .ad-section {
    margin-top: 4%;
    width: 90%
  }

  .publicidade {
    color: #363636;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    height: 22px;
    line-height: 183%;
    margin-left: 17.4%;
    width: 63px
  }

  .ad-img {
    bottom: 0;
    height: 90%;
    left: 17.49%;
    position: relative;
    right: 14.49%;
    top: 8.09%;
    width: 70%
  }

  .colunista-box {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 3.2%;
    width: 50%
  }

  .compartilhe-colunista {
    color: #363636;
    display: block;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    position: relative
  }

  .social-networks {
    left: 10%
  }

  .siga-google {
    color: #333;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    height: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase
  }

  .sidebar-box {
    bottom: 20%;
    display: flex;
    flex-direction: column;
    left: 72%;
    position: absolute;
    top: 660px;
    width: 21.5%
  }

  .publicidade-side-title {
    font-family: Roboto;
    font-size: 9px;
    line-height: 156%
  }

  .ml-heading,
  .publicidade-side-title {
    color: #191919;
    font-style: normal;
    font-weight: 400
  }

  .ml-heading {
    font-family: Merriweather;
    font-size: 28px;
    line-height: 119%;
    margin-bottom: 10px
  }

  .ml-rectangle {
    border: 3px solid #d1d1d1;
    position: relative;
    top: 30px;
    width: 100%
  }

  .mais-lidas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2px;
    margin-top: 10%;
    width: 310px
  }

  .mais-lidas-data {
    color: #666;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 117%
  }

  .noticia-box {
    border-bottom: 1px solid #d8d8d8;
    width: 92.5%
  }

  .noticia-box:last-child {
    border-bottom: none;
    margin-bottom: 10px
  }

  .mais-lidas-titulo {
    bottom: 4%;
    color: #004071;
    font-family: Merriweather;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    left: 2%;
    line-height: 18px;
    margin-top: 20px
  }

  .img-box {
    left: 7%
  }

  .artigo-section {
    margin-left: 7%;
    margin-top: 3%;
    width: 60%
  }

  .legenda-img {
    bottom: 60px;
    color: #191919;
    font-size: 14px;
    left: 7%;
    line-height: 114%
  }

  .fonte-src,
  .legenda-img {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400
  }

  .fonte-src {
    color: #777;
    font-size: 12px;
    line-height: 183%
  }

  .corpo-artigo {
    color: #333;
    font-family: Merriweather;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    width: 94%
  }

  .audio-exemple-standing {
    height: 50px;
    top: 10px;
    width: 100%
  }

  .leia-mais-section {
    border: none;
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    width: 60%
  }

  .leia-coluna {
    display: flex;
    flex-direction: row;
    gap: 2em
  }

  .leia-mais-titulo {
    border-top: 2px solid #d1d1d1;
    color: #191919;
    font-family: Merriweather;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding-top: 20px;
    text-transform: uppercase;
    width: 30%
  }

  .artigo-card {
    flex-direction: column;
    justify-content: space-evenly;
    top: 0
  }

  .card-img {
    border-radius: 2px;
    cursor: pointer;
    height: auto;
    position: relative;
    width: 255px
  }

  .card-titulo {
    color: #004071;
    display: block;
    font-family: Merriweather;
    font-size: 16px;
    left: 0;
    line-height: 157%;
    position: relative;
    width: 80%
  }

  .card-data,
  .card-titulo {
    font-style: normal;
    font-weight: 400
  }

  .card-data {
    color: #666;
    font-family: Roboto;
    font-size: 14px;
    line-height: 150%
  }

  .leia-rectangle-bottom {
    border: 1px solid #d1d1d1
  }

  .repercusao-box {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 7%;
    width: 57%
  }

  .repercusao-titulo .corrida-titulo {
    color: #333;
    font-family: Merriweather;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 143%
  }

  .corrida-box {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 57%
  }

  .continucação-paragrafo {
    color: #333;
    font-family: Merriweather;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%
  }

  .corrida-box {
    margin-left: 7%;
    margin-top: 30px
  }

  .advertise-bottom-page {
    margin-left: 12.5%;
    width: 60%
  }

  .continue-bem-informado {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px 0
  }

  .rectangle {
    width: 10%
  }

  .continue-rectangle {
    border: 1px solid #d8d8d8;
    margin: 15px 0;
    width: 20%
  }

  .continue-text {
    color: #191919;
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    text-align: center
  }

  .continue-e-assine a {
    color: #004071;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase
  }

  .bottom-section {
    width: 80%
  }

  .fique-informado {
    align-items: center;
    left: -5%;
    position: relative
  }

  .newsletter-box {
    bottom: 0;
    left: 10%;
    position: relative;
    top: 0;
    width: 70%
  }

  .comece {
    left: 2%;
    top: 17%
  }

  .comentarios {
    padding-bottom: 100px;
    width: 60%
  }

  .comment-btn {
    left: 1%;
    width: 27%
  }

  .para-comentar {
    left: -30px;
    top: 50px
  }

  .envie-email {
    width: 75%
  }

  .google-bottom {
    width: 12%
  }

  .networks-bottom {
    bottom: 0;
    left: 60%
  }

  .advertise-image {
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
  }
}

/*# sourceMappingURL=main.e26c7fb4.css.map*/