:root {
  font-size: 16;
  font-family: 'Helvetica', 'Neue', 'Arial', sans-serif;
  --text-primary: #191919;
  --text-secondary: #337ab7;
  --bg-primary: white;
  text-align: left;
  height: 100vh;
}

body>#root>div {
  height: 100vh;
}

body {
  line-height: 1.42857;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  height: fit-content;
  display: flex;
  flex: 1;
  flex-direction: column;
}

button {
  cursor: pointer;
}

/* Navbar */

.nav-box {
  background: rgba(0, 0, 0, 0.0001);
  box-shadow: inset 0px -1px 0px rgba(217, 217, 217, 0.498039), inset 0px 0px 1px 0px rgba(217, 217, 217, 0.498039);
  height: fit-content;
  z-index: 999;


}



.nav-menu {

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.navbar-head {
  display: grid;
  background-color: transparent;
  font-family: 'Roboto Regular';
  justify-content: space-between;

}


.title {
  cursor: pointer;
  width: 90%;
}

.btn-assine {

  background-color: #F7941D;
  color: var(--bg-primary);
  font-family: 'Roboto Regular';
  border-radius: 10%;
  border: #F7941D;
  padding: .5em;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;

}

.navbar {
  z-index: 1;
  background-color: transparent;
  font-size: 14px;
  width: 100%;


}

.navbar-nav {
  display: flex;

  width: 100%;
  bottom: 0;
  top: 1px;
  flex-direction: row;
}



.compartilhe-colunista {
  display: none;
}

.nav-item {
  justify-content: center;
  align-items: center;
  display: flex;

}



.logo-container {
  display: none;
}

.hamburguer {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 8px;

  background-color: #fafafa;
  border: 1px solid #ececec;
  border-radius: 10%;

}

.hamburguer-top,
.hamburguer-mid,
.hamburguer-bottom {
  width: 60%;
  border: 2px solid;
  position: absolute;
  left: 15%;

  margin-bottom: 2px;
}

.hamburguer-mid {
  top: 25%;
}

.hamburguer-bottom {
  top: 52.5%;
}



/* Publicidade */


.ad-box {
  width: 100%;
}

.publicidade {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  align-items: left;
  color: #191919;
  margin: 0;
  bottom: 95%;

  z-index: 999;

}

.ad-img {
  width: 95.5vw;
}

/* Titulo */

.page-title {

  width: 90%;
  height: 280px;

}

.titulo-oscar {


  height: 14px;
  left: 0%;
  right: 76.67%;
  top: calc(50% - 14px/2 - 103px);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #004071;
}

.titulo-repercusao {


  height: 120px;
  width: fit-content;
  left: 0%;
  right: 0%;
  top: calc(50% - 120px/2 - 31px);
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #333333;
  margin-top: 14px;

}

.subtitulo-repercusao {

  height: 31px;

  left: 0%;
  right: 0%;
  top: calc(55% - 31px/2 + 60px);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  width: 90%;

  color: #333333;
}

/* Colunista */
.colunista-box {
  width: 80%;
  margin-left: 10px;
}

.author {
  width: 50px;
  height: 50px;
}


.author-box {

  width: 65%;
  height: 80px;
  display: flex;
  flex-direction: row;
  gap: 2em;

}


.colunista-btn {

  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  background: #004071;
  border-radius: 4px;
  height: 25px;
  align-items: center;
  width: 105px;

}

.colunista-text {
  height: 14px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1px;
  text-align: center;


  color: #FFFFFF;
}

.author-name {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */


  color: #333333;
}


.fav-clock {
  position: relative;
  top: 7px;
  right: 2px;
}

.coluna-time {
  position: relative;
  bottom: 25%;
  width: 150px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 22px;

  color: #363636;
}

.social-networks {
  display: flex;
  flex-direction: row;
  width: 110px;
  height: 30px;
  right: 100%;
  gap: 10px;
}

.social-box {

  height: 80px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.google-news {
  min-width: 70%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #EAEAEA;
  border-radius: 4px;

}

.social-circle {

  width: 30px;
  height: 30px;
  cursor: pointer;

}

.whatsapp {
  background-color: #1BD741;
  border-radius: 100%;

  left: 35%;
}

.icon {
  fill: #fff;
  position: relative;
  bottom: 3px;
  left: 3px;


}

.whatsapp-icon {
  width: 22px;
  height: 22px;
}

.twitter {
  border-radius: 100%;
  background-color: #55ACEE;

}


.twitter-icon {
  width: 18px;
  height: 18px;
  top: 6px;
  left: 6px;
}

.facebook {
  background-color: #3B5998;
  border-radius: 100%;
  left: -35%;
}

.facebook-icon {
  height: 70%;
  width: 70%;
  left: 15%;
  top: 5px;
}

.whatsapp-icon {

  top: 14.5%;
  left: 15%;
  fill: #ececec;
  height: 70%;
  width: 70%;
}

.siga-google {
  position: relative;
  bottom: 35%;
  left: 5%;
  text-decoration: none;
  height: 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  color: #333333;
}

.google-img {
  position: relative;
  top: 80%;

}

/* Imagem Box */

.img-box {


  width: 95%;

  left: 2%;
  top: 562px;
  align-items: center;
}

.artigo-section {

  left: -5%;
  top: calc((100vw - 420px)*2);
}

.artigo-img {

  align-items: center;
  width: 105%;
  height: 80%;
  left: 0%;
  top: 0px;
  border-radius: 0.606673px;
}

.legenda-completa {

  display: flex;
  flex-direction: row;
  gap: 1em;
}

.legenda-img {
  margin: 0;
  height: 48px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #191919;
}

.fonte-src {

  height: 22px;
  width: 80%;
  margin-left: 12%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #777777;

}

.camera {

  width: 24px;
  height: 20px;
  left: 0.22%;
  right: 93.11%;
  top: 210px;
  bottom: 76.62%;

  color: #191919;
  mix-blend-mode: normal;
  opacity: 0.54;
}

.text-to-speech {

  width: 104%;

  background: #FFFFFF;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  margin-bottom: 30px;
}

.audio {
  display: none;
}

.audio-exemple-standing {
  position: relative;
  top: 6px;
  width: 102%;
}

.corpo-artigo {

  width: 95%;
  height: 646px;
  left: 10px;
  top: calc((100vw + 1502px)/2);
  margin-left: 10px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 212%;
  /* or 212% */


  color: #333333;

}

/* Leia + */

.leia-mais-section {

  margin-top: 20px;
  display: block;
  width: 90%;
  border-top: 2px solid #D1D1D1;
  border-bottom: 2px solid #D1D1D1;
  padding-bottom: 10px;
}

.leia-mais-titulo {

  position: relative;
  height: 25px;
  left: 2%;
  right: 64.78%;
  top: calc(45% - 25px/2 - 166.5px);
  width: 100%;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  justify-content: space-between;
  color: #191919;
}

.artigo-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  position: relative;
  left: 2.33%;
  right: 0%;
  top: 70.36%;
  bottom: 3.87%;
  gap: 1em;
}



.card-img {
  width: 100px;
  height: 100px;
  border-radius: 2px;
}

.card-data {

  height: 16px;
  left: 32.6%;
  right: 23.95%;
  top: calc(47% - 16px/2 - 42px);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: #666666;
}

.card-titulo {

  width: 179px;
  height: 54px;
  cursor: pointer;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;

  color: #004071;


}


/* Continuação */


.repercusao-box {

  width: 90%;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 21.5px;
  line-height: 212%;
  color: #333333;
  margin-left: 10px;
}

.corrida-box {
  left: 10px;
  width: 90%;
  position: relative;

  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 21.5px;
  line-height: 212%;


  color: #333333;
}

.break {
  display: block;
  margin-bottom: 2px;
  border: none;
}

.repercusao-titulo {

  width: 102px;
  height: 34px;
  margin-top: 5%;
  font-style: normal;
  font-weight: 700;

  line-height: 212%;
  color: #333333;
}

.corrida-titulo {
  margin-top: 10px;
  margin-bottom: 9px;
}

.continue-bem-informado {
  display: none;
}

/* Ad Bottom */



.advertise-image {
  width: 100%;
  cursor: pointer;
}

/* Bottom */

.bottom-section {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 90%;

}

.fique-informado {

  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
  align-items: center;
  gap: 6px;

}

.fique-sempre {


  text-align: center;


  width: 100%;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 23px;


  text-align: center;

  color: #191919;
}


.rectangle {


  left: 26.43%;
  right: 24.43%;
  top: 80.67%;
  bottom: 62.22%;
  width: 51.5%;
  border-top: 1px solid #D8D8D8;
}

.siga-em {

  height: 16px;
  left: 60px;
  right: 14.34%;
  top: calc(107% - 16px/2 + 7px);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  color: #767676;

}

.google-bottom {
  width: 50%;

}

.newsletter-box {

  width: 102%;
  align-items: left;
  padding: 10px;

  background-color: #F7F7F7;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
}

.newletter-form {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.receba {

  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: #191919;
}

.comece {

  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #9B9B9B;
}

.envie-email {


  width: 44%;
  height: 40px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  color: #888888;
  padding: 0 10px;
}

.btn-send {

  width: 140px;
  height: 40px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  background: #ED7D00;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;

}

/* Social Bottom */

.social-bottom {

  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-left: 25%;
}

.compartilhe {


  position: relative;
  top: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 183%;
  color: #363636;

}

.networks-bottom {
  left: 65%;
  justify-content: space-between;

}

/* Comentários */

.comentarios {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  padding-bottom: 70px;
}

.comment-btn {

  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 35px;
  width: 240px;
  border: none;
  background: #004071;
  border-radius: 3px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #FFFFFF;
}

.para-comentar {

  height: 14px;
  left: -15%;
  width: 330px;
  top: calc(35% - 14px/2 + 20px);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  text-transform: uppercase;

  color: #4A4A4A;
}

.para-comentar a {
  color: #004071
}

.sidebar-box {
  display: none;
}

/* Desktop 992px */


@media only screen and (min-width: 992px) {
  .nav-box {
    width: 100%;

  }

  .nav-menu {
    height: 58px;
  }

  .hamburguer {
    width: 150px;
    left: 20px;
  }

  .hamburguer-desktop {
    width: 20px;
  }

  .logo-container {
    position: relative;
    height: 16px;
    left: 5%;
    top: calc(50% - 16px/2 - 0.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #191919;
  }

  .search {
    position: relative;
    width: 40px;
    height: 40px;
    left: -200%;
    background: #FAFAFA;
    border: 1px solid rgba(217, 217, 217, 0.498039);
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;

  }

  .search-page {
    position: relative;
    height: 40px;
    left: 90%;
    top: -55%;
    background: #FAFAFA;
    border: 1px solid rgba(217, 217, 217, 0.498039);
    border-radius: 4px;
    box-sizing: border-box;
    border-left: none;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
  }

  .topico {
    position: relative;
    height: 31px;
    left: 150%;
    right: 60.61%;
    top: calc(20% - 31px/2 + 3.5px);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 119%;
    /* identical to box height, or 119% */


    color: #666666;
  }

  .search-icon {
    position: relative;
    width: 15.45px;
    height: 15.45px;
    left: 11.33px;
    top: 13px;
  }

  .navbar-section {
    position: relative;
    width: 100%;
    height: 58px;
    left: 0px;
    top: 0px;
  }


  .title {
    position: relative;
    left: 90.86%;
    right: 68.45%;

  }

  .right-pull {

    width: 195px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }



  .icon-circle {
    background: #FAFAFA;
    box-sizing: border-box;
    border: 1px solid rgba(217, 217, 217, 0.498039);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: relative;
    width: 45px;
    height: 45px;
    top: 5px;
    right: 15%;
    z-index: -1;
  }

  .nav-icon {

    width: 25px;
    height: 25px;
    left: 9px;
    top: 9px;
    position: relative;
    z-index: 1;
    fill: #004071;
  }

  .btn-assine-desktop {
    position: relative;
    right: 42.37%;
    top: 19.24%;
    bottom: 17.24%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    height: 40px;
    width: 80px;
    color: #FFFFFF;
    border: none;
    background: #ED7D00;
    border-radius: 4px;
  }

  .logged-user {
    position: absolute;

    right: 5.2%;
    top: 17.24%;
    bottom: 17.24%;
    padding-left: 15px;
    border-left: 2px solid #D8D8D8;
  }

  .breadcrumb {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    height: 24px;
    left: -175%;
    top: 50px;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #004071;
  }

  .crumbs a {
    font-family: 'Roboto';
    font-weight: 500;
    color: #004071;
    font-size: 13px;
    line-height: 14px;
    text-decoration: none;
  }

  /* Título */

  .page-title {
    position: relative;
    width: 80%;
    height: 133px;
    left: 80px;
    bottom: 30%;

  }

  .titulo-oscar {

    width: 100%;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    text-transform: uppercase;

    color: #004071;

  }

  .titulo-repercusao {
    font-size: 38px;
    line-height: 40px;

    height: 80px;


  }

  .subtitulo-repercusao {

    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15.5px;
    line-height: 19px;
    /* identical to box height */


    color: #333333;

  }


  /* Publicidade */
  .ad-section {
    position: relative;
    width: 90%;
    left: 0px;
    top: 285px;

  }

  .publicidade {
    position: relative;
    width: 63px;
    height: 22px;
    left: 17.5%;
    top: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 183%;
    /* identical to box height, or 183% */


    color: #363636;
  }


  .ad-img {
    position: relative;
    height: 90%;
    left: 17.49%;
    right: 14.49%;
    top: 8.09%;
    bottom: 0%;
    width: 70%;
  }

  /* Autor */

  .colunista-box {

    display: flex;
    flex-direction: row;
    width: 50%;
    top: 25%;
    margin-left: 100px;
    position: relative;

  }

  .compartilhe-colunista {
    display: block;
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;

    /* identical to box height, or 183% */


    color: #363636;
  }

  .social-networks {

    left: 10%;


  }



  .siga-google {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    height: 14px;
    color: #333333;
  }



  /* Sidebar */

  .sidebar-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 21.5%;
    bottom: 20%;
    left: 72%;
    top: 660px;

  }

  .publicidade-side-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 156%;



    color: #191919;
  }

  .ml-heading {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 119%;
    color: #191919;
    margin-bottom: 10px;
  }

  .ml-rectangle {
    border: 3px solid #D1D1D1;
    width: 100%;
    position: relative;
    top: 30px;
  }

  .mais-lidas {
    margin-top: 30px;
    width: 310px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10%;

  }

  .mais-lidas-data {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;



    color: #666666;
  }


  .noticia-box {
    border-bottom: 1px solid #D8D8D8;
    width: 92.5%;
  }


  .noticia-box:last-child {
    border-bottom: none;
    margin-bottom: 10px;
  }

  .mais-lidas-titulo {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    bottom: 4%;
    left: 2%;
    color: #004071;
    margin-top: 20px;
  }

  .img-box {
    left: 7%;
  }

  .artigo-section {

    width: 60%;
    left: 7%;
    top: 30%;
    position: relative;


  }




  .legenda-img {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    bottom: 60px;
    left: 7%;
    color: #191919;
  }

  .fonte-src {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 183%;





    color: #777777;
  }


  .corpo-artigo {

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 200%;
    width: 94%;




    color: #333333;
  }

  .audio-exemple-standing {

    height: 50px;
    top: 10px;

    width: 100%;
  }


  /* Leia Mais */

  .leia-mais-section {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    position: relative;
    top: 27.5%;
    width: 60%;
    border: none;
    display: flex;
    ;
  }

  .leia-coluna {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .leia-mais-titulo {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    text-transform: uppercase;
    border-top: 2px solid #D1D1D1;
    width: 30%;
    padding-top: 20px;


    color: #191919;
  }



  .artigo-card {
    flex-direction: column;
    top: 0;
    justify-content: space-evenly;
  }





  .card-img {
    width: 255px;
    height: auto;
    position: relative;
    border-radius: 2px;
    cursor: pointer;
  }

  .card-titulo {
    display: block;
    font-family: 'Merriweather';
    font-style: normal;
    width: 80%;
    font-weight: 400;
    font-size: 16px;
    line-height: 157%;
    position: relative;
    color: #004071;
    left: 0;
  }

  .card-data {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #666666;
  }

  .leia-rectangle-bottom {



    border: 1px solid #D1D1D1;
  }

  .repercusao-box {
    margin-top: 15%;
    margin-left: 7%;
    width: 57%;
    height: fit-content;


  }

  .repercusao-titulo .corrida-titulo {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 143%;

    color: #333333;

  }

  .corrida-box {

    width: 57%;
    height: fit-content;

  }

  .continucação-paragrafo {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 200%;
    color: #333333;
  }

  .corrida-box {
    margin-left: 7%;
    margin-top: 30px;
  }

  .advertise-bottom-page {
    margin-left: 12.5%;
    width: 60%;
  }


  .continue-bem-informado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;


  }

  .rectangle {
    width: 10%;
  }

  .continue-rectangle {
    border: 1px solid #D8D8D8;
    width: 20%;
    margin: 15px 0;
  }



  .continue-text {


    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;

    text-align: center;

    color: #191919;
  }

  .continue-e-assine a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;

    color: #004071;

  }


  .bottom-section {
    width: 80%;


  }

  .fique-informado {


    position: relative;
    left: -5%;
    align-items: center;
  }

  .newsletter-box {
    position: relative;
    top: 0;
    bottom: 0;
    width: 70%;
    left: 10%;

  }

  .comece {
    left: 2%;
    top: 17%;
  }


  .comentarios {


    padding-bottom: 100px;

    width: 60%;
  }

  .comment-btn {

    width: 27%;
    left: 1%;
  }

  .para-comentar {
    left: -30px;
    top: 50px;
  }


  .envie-email {
    width: 75%;
  }

  .google-bottom {
    width: 12%;
  }

  .networks-bottom {
    left: 60%;
    bottom: 0;
  }

  .advertise-image {
    width: fit-content;
    height: auto;
  }
}