:root {
  font-size: 16;
  font-family: 'Helvetica', 'Neue', 'Arial', sans-serif;
  --text-primary: #191919;
  --text-secondary: #337ab7;
  --bg-primary: white;
  text-align: left;
  height: 100vh;
}

body>#root>div {
  height: 100vh;
}

body {
  line-height: 1.42857;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  padding: 1em;
  height: fit-content;
  display: flex;
  flex: 1;
}

button {
  cursor: pointer;
}

/* Navbar */

.nav-box {
  background: rgba(0, 0, 0, 0.0001);
  box-shadow: inset 0px -1px 0px rgba(217, 217, 217, 0.498039), inset 0px 0px 1px 0px rgba(217, 217, 217, 0.498039);
  height: 30px;
  z-index: 999;
  width: 100%;
}

.navbar-section {
  position: absolute;
  width: fit-content;
  height: 50px;
  left: 0px;
  top: 0px;

}

.navbar-head {
  display: grid;
  background-color: transparent;
  font-family: 'Roboto Regular';
  justify-content: space-between;

}

.title {
  height: 3.25em;
  z-index: -99;
  cursor: pointer;
}

.btn-assine {

  background-color: #F7941D;
  color: var(--bg-primary);
  font-family: 'Roboto Regular';
  border-radius: 10%;
  border: #F7941D;
  padding: .5em;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;

}

.navbar {
  z-index: 1;
  display: flex;
  background-color: transparent;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;

}

.navbar-nav {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 1px;
  flex-direction: row;
}

.compartilhe-colunista {
  display: none;
}

.nav-item {
  justify-content: center;
  align-items: center;
  display: flex;

}



.logo-container {
  display: none;
}

.hamburguer {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 8px;
  top: 12.5%;
  background-color: #fafafa;
  border: 1px solid #ececec;
  border-radius: 10%;

}

.hamburguer-top,
.hamburguer-mid,
.hamburguer-bottom {
  width: 60%;
  border: 2px solid;
  position: absolute;
  left: 15%;
  margin-bottom: 2px;
}

.hamburguer-mid {
  top: 25%;
}

.hamburguer-bottom {
  top: 52.5%;
}


/* Publicidade */
.ad-section {
  position: relative;
  width: 23em;
  height: 70px;
  left: 0px;
  top: 2%;
}

.publicidade {
  position: absolute;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  align-items: left;
  color: #191919;
  margin: 0;
  bottom: 95%;
  left: 3%;
  z-index: 999;
}

.ad-img {
  position: absolute;
  left: 3%;
  top: 5%;
  width: 87.5%;
}

/* Titulo */

.page-title {
  position: absolute;
  width: 90%;
  height: 220px;
  left: 10px;
  top: 140px;
}

.titulo-oscar {

  position: absolute;
  height: 14px;
  left: 0%;
  right: 76.67%;
  top: calc(50% - 14px/2 - 103px);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #004071;
}

.titulo-repercusao {

  position: absolute;
  height: 120px;
  width: fit-content;
  left: 0%;
  right: 0%;
  top: calc(50% - 120px/2 - 31px);
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #333333;
  margin-top: 14px;

}

.subtitulo-repercusao {
  position: absolute;
  height: 31px;

  left: 0%;
  right: 0%;
  top: calc(55% - 31px/2 + 60px);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  width: 90%;

  color: #333333;
}

/* Colunista */

.author-box {
  position: absolute;
  width: 221px;
  height: 80px;
  left: 10px;
  top: calc((100vw + 482px)/2);
  ;
}

.colunista-btn {
  position: absolute;
  left: 42.99%;
  right: 9.95%;
  top: 0%;
  bottom: 71.25%;
  text-align: center;
  background: #004071;
  border-radius: 4px;

}

.colunista-text {
  height: 14px;
  left: 19.23%;
  right: 18.27%;
  bottom: -25%;
  position: absolute;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  color: #FFFFFF;
}

.author-name {
  position: absolute;
  height: 21px;
  left: 42.99%;
  right: 3.17%;
  top: calc(25% - 21px/2 + 2.5px);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */


  color: #333333;
}

.fav-clock {
  position: absolute;
  left: 42.99%;
  right: 46.15%;
  top: 70%;
  bottom: 0%;

}

.coluna-time {
  position: absolute;
  height: 22px;
  left: 56.11%;
  right: 0%;
  top: calc(34% - 22px/2 + 28px);
  width: 10em;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;

  color: #363636;
}

.social-networks {
  position: absolute;
  width: 110px;
  height: 30px;
  right: 100%;
  /* top: calc((100vw - 380px)/2); */


}

.social-box {
  position: absolute;

  height: 120px;
  left: 42.5%;
  top: calc((100vw + 690px)/2);
}

.google-news {
  width: 200px;
  height: 30px;
  top: 500px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #EAEAEA;
  border-radius: 4px;

}

.social-circle {

  width: 30px;
  height: 30px;
  position: absolute;
  left: 10%;
  cursor: pointer;
  z-index: 1;
}

.whatsapp {
  background-color: #1BD741;
  border-radius: 100%;
  position: absolute;
  left: 35%;
}

.icon {
  fill: #fff;
  position: absolute;
  bottom: 3px;
  left: 3px;


}

.whatsapp-icon {
  width: 22px;
  height: 22px;
}

.twitter {
  border-radius: 100%;
  background-color: #55ACEE;
  left: 0%;
}


.twitter-icon {
  width: 18px;
  height: 18px;
  bottom: 5px;
  left: 6px;
}

.facebook {
  background-color: #3B5998;
  border-radius: 100%;
  left: -35%;
}

.facebook-icon {
  height: 70%;
  width: 70%;
  left: 15%;
}

.whatsapp-icon {
  position: absolute;
  top: 14.5%;
  left: 15%;
  fill: #ececec;
  height: 70%;
  width: 70%;
}

.siga-google {
  position: absolute;
  text-decoration: none;
  height: 14px;
  right: 73.23%;
  top: calc(50% - 14px/2 - 0.02px);


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #333333;
}

.google-img {
  position: absolute;
  left: 110%;
  top: -30%;
}

/* Imagem Box */

.img-box {

  position: absolute;
  width: 95%;
  height: 256px;
  left: 2%;
  top: 562px;
  align-items: center;
}

.artigo-section {
  position: relative;
  left: -5%;
  top: calc((100vw - 420px)*2);
}

.artigo-img {
  position: absolute;
  align-items: center;
  width: 100%;
  height: 80%;
  left: 0%;
  top: 0px;
  border-radius: 0.606673px;
}

.legenda-img {
  position: absolute;
  height: 48px;
  left: 10.22%;
  right: 0.11%;
  top: calc(90% - 48px/2 - 12.5px);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #191919;
}

.fonte-src {
  position: absolute;
  height: 22px;
  left: 10.22%;
  right: 58.11%;
  top: calc(92% - 22px/2 + 27.5px);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #777777;

}

.camera {
  position: absolute;
  width: 24px;
  height: 20px;
  left: 0.22%;
  right: 93.11%;
  top: 210px;
  bottom: 76.62%;

  color: #191919;
  mix-blend-mode: normal;
  opacity: 0.54;
}

.text-to-speech {
  position: relative;
  width: 90%;
  height: 45px;
  top: 320px;
  left: 3%;
  background: #FFFFFF;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.audio {
  display: none;
}

.corpo-artigo {
  position: absolute;
  width: 90%;
  height: 646px;
  left: 10px;
  top: calc((100vw + 1502px)/2);

  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 21.75px;
  line-height: 212%;
  /* or 212% */


  color: #333333;

}

/* Leia + */

.leia-mais-section {

  position: absolute;
  display: block;
  width: 90%;
  height: 388px;
  left: 10px;
  top: calc((100vw + 3482px)/2);
  border-top: 2px solid #D1D1D1;
  border-bottom: 2px solid #D1D1D1;
}

.leia-mais-titulo {

  position: relative;
  height: 25px;
  left: 2%;
  right: 64.78%;
  top: calc(45% - 25px/2 - 166.5px);
  width: 100%;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  justify-content: space-between;
  color: #191919;
}

.artigo-card {

  position: absolute;
  left: 2.33%;
  right: 0%;
  top: 70.36%;
  bottom: 3.87%;
}

.artigo-card:nth-child(2) {

  position: absolute;
  left: 2.33%;
  right: 0%;
  top: 13.66%;
  bottom: 60.57%;

}

.artigo-card:nth-child(3) {
  position: absolute;
  left: 2.33%;
  right: 0%;
  top: 42.01%;
  bottom: 32.22%;

}

.card-img {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0px;
  top: calc(50% - 100px/2);
  border-radius: 2px;
}

.card-data {
  position: absolute;
  height: 16px;
  left: 32.6%;
  right: 23.95%;
  top: calc(47% - 16px/2 - 42px);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: #666666;
}

.card-titulo {
  position: absolute;
  width: 179px;
  height: 54px;
  left: 110px;
  top: 22px;

  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #004071;


}


/* Continuação */


.repercusao-box {
  position: absolute;
  width: 90%;
  height: 626px;
  left: 20px;
  top: calc((100vw + 4230px)/2);

  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 21.5px;
  line-height: 212%;
  /* or 212% */


  color: #333333;
}

.corrida-box {
  position: absolute;
  width: 90%;
  height: 626px;
  left: 20px;
  top: calc((100vw + 6630px)/2);
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 21.5px;
  line-height: 212%;
  /* or 212% */


  color: #333333;
}

.break {
  display: block;
  margin-bottom: 2px;
  border: none;
}

.repercusao-titulo {

  width: 102px;
  height: 34px;
  font-style: normal;
  font-weight: 700;

  line-height: 212%;
  color: #333333;
}

.continue-bem-informado {
  display: none;
}

/* Ad Bottom */

.advertise-bottom-page {

  position: relative;
  width: 90%;
  height: 250px;
  left: 5%;
  top: 3105px;
}

/* Bottom */

.bottom-section {

  position: relative;
  width: 100%;
  left: -5%;
  top: calc((100vw - 520px)*2);

}

.fique-informado {

  position: absolute;
  width: 302px;
  height: 90px;
  left: 24px;
  top: 4592px;
}

.fique-sempre {
  position: absolute;
  height: 23px;
  left: -35px;
  right: 0%;
  top: calc(90% - 23px/2 - 22.5px);
  display: block;
  text-align: center;
  width: 100vw;


  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 23px;


  text-align: center;

  color: #191919;
}


.rectangle {

  position: absolute;
  left: 26.43%;
  right: 24.43%;
  top: 80.67%;
  bottom: 62.22%;
  width: 51.5%;
  border-top: 1px solid #D8D8D8;
}

.siga-em {
  position: absolute;
  height: 16px;
  left: 60px;
  right: 14.34%;
  top: calc(107% - 16px/2 + 7px);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  color: #767676;

}

.google-bottom {
  left: 85px;
  top: 135%
}

.newsletter-box {
  position: absolute;
  width: 100vw;
  height: 111px;
  padding-bottom: 15px;
  left: 0px;
  top: 4762px;
  background-color: #F7F7F7;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
}

.receba {
  position: absolute;
  height: 16px;
  left: 3.12%;
  right: 43.75%;
  top: calc(45% - 16px/2 - 40.5px);
  width: 350px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: #191919;
}

.comece {
  position: absolute;
  left: 0.25%;
  right: 3.12%;
  top: 15.52%;
  bottom: 50.45%;

  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  padding: 10px;
  color: #9B9B9B;
}

.envie-email {
  position: absolute;
  left: 3.12%;
  right: 43.44%;
  top: 57.05%;
  bottom: 10.81%;
  width: 44%;
  height: 40px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  color: #888888;
  padding: 0 10px;
}

.btn-send {
  position: absolute;
  width: 140px;
  height: 40px;
  left: 210px;
  top: 72.5px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  background: #ED7D00;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;

}

/* Social Bottom */

.social-bottom {
  position: absolute;
  width: 184px;
  height: 30px;
  left: 85px;
  top: 4903px;
}

.compartilhe {
  position: absolute;
  height: 22px;
  left: 0%;
  right: 64.67%;
  top: calc(50% - 22px/2);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 183%;
  color: #363636;

}

.networks-bottom {
  left: 65%;
  justify-content: space-between;

}

/* Comentários */

.comentarios {
  position: relative;
  width: 268px;
  height: 54px;
  left: 15%;
  bottom: 0;
  top: calc((100vw + 2000px)*2);
  padding-bottom: 70px;
}

.comment-btn {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 35px;
  width: 240px;
  border: none;
  background: #004071;
  border-radius: 3px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #FFFFFF;
}

.para-comentar {
  position: absolute;
  height: 14px;
  left: -15%;
  width: 330px;
  top: calc(35% - 14px/2 + 20px);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  text-transform: uppercase;

  color: #4A4A4A;
}

.para-comentar a {
  color: #004071
}

.sidebar-box {
  display: none;
}

/* Desktop 992px */

@media only screen and (min-width: 782px) {
  .nav-box {
    width: 100%;

  }

  .nav-menu {
    position: fixed;
    width: 100%;
    height: 58px;
    top: 0px;
    right: 0px;
    z-index: 1;
    background-color: #fff;
    box-shadow: inset 0px -1px 0px rgba(217, 217, 217, 0.498039), inset 0px 1px 0px rgba(217, 217, 217, 0.498039);
  }

  .hamburguer {
    width: 150px;
    left: 20px;
  }

  .hamburguer-desktop {
    width: 20px;
  }

  .logo-container {
    position: absolute;
    height: 16px;
    left: 50%;
    top: calc(50% - 16px/2 - 0.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #191919;
  }

  .search {
    position: relative;
    width: 40px;
    height: 40px;
    right: 200%;
    top: -5px;
    background: #FAFAFA;
    border: 1px solid rgba(217, 217, 217, 0.498039);
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;

  }

  .search-page {
    position: relative;
    height: 40px;
    left: 90%;
    top: -55%;
    background: #FAFAFA;
    border: 1px solid rgba(217, 217, 217, 0.498039);
    border-radius: 4px;
    box-sizing: border-box;
    border-left: none;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
  }

  .topico {
    position: absolute;
    height: 31px;
    left: 550px;
    right: 60.61%;
    top: calc(20% - 31px/2 + 3.5px);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 119%;
    /* identical to box height, or 119% */


    color: #666666;
  }

  .search-icon {
    position: relative;
    width: 15.45px;
    height: 15.45px;
    left: 11.33px;
    top: 13px;
  }

  .navbar-section {
    position: absolute;
    width: 100%;
    height: 58px;
    left: 0px;
    top: 0px;
  }

  .navbar-nav {
    width: fit-content;
  }

  .title {
    position: relative;
    left: 90.86%;
    right: 68.45%;
    bottom: 4px;



  }

  .right-pull {

    width: 195px;
    height: 40px;
    position: fixed;
    right: 0;
    top: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .tablet {
    right: -150px;
  }

  .icon-circle {
    background: #FAFAFA;
    box-sizing: border-box;
    border: 1px solid rgba(217, 217, 217, 0.498039);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: relative;
    width: 45px;
    height: 45px;
    top: 5px;
    right: 15%;
    z-index: -1;
  }

  .nav-icon {

    width: 25px;
    height: 25px;
    left: 9px;
    top: 9px;
    position: relative;
    z-index: 1;
    fill: #004071;
  }

  .btn-assine-desktop {
    position: relative;
    right: 42.37%;
    top: 19.24%;
    bottom: 17.24%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    height: 40px;
    width: 80px;
    color: #FFFFFF;
    border: none;
    background: #ED7D00;
    border-radius: 4px;
  }

  .logged-user {
    position: absolute;

    right: 5.2%;
    top: 17.24%;
    bottom: 17.24%;
    padding-left: 15px;
    border-left: 2px solid #D8D8D8;
  }

  .breadcrumb {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    height: 24px;
    left: 10%;
    top: 68px;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #004071;
  }

  .crumbs a {
    font-family: 'Roboto';
    font-weight: 500;
    color: #004071;
    font-size: 13px;
    line-height: 14px;
    text-decoration: none;
  }

  /* Título */

  .page-title {
    position: absolute;
    width: 80%;
    height: 133px;
    left: 80px;
    top: 105px;

  }

  .titulo-oscar {
    position: absolute;
    width: 100%;
    height: 14px;
    left: 0%;
    right: 93.68%;
    top: calc(50% - 14px/2 - 59.5px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    text-transform: uppercase;

    color: #004071;

  }

  .titulo-repercusao {
    font-size: 38px;
    line-height: 40px;
    position: absolute;
    height: 80px;
    left: 0%;
    right: 0%;
    top: calc(50% - 80px/2 - 2.5px);
  }

  .subtitulo-repercusao {
    position: absolute;
    height: 19px;
    left: 0%;
    right: 3.97%;
    top: calc(60% - 19px/2 + 57px);
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15.5px;
    line-height: 19px;
    /* identical to box height */


    color: #333333;

  }


  /* Publicidade */
  .ad-section {
    position: absolute;
    width: 100%;
    height: 272px;
    left: 0px;
    top: 285px;

  }

  .publicidade {
    position: relative;
    width: 63px;
    height: 22px;
    left: 17.5%;
    top: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 183%;
    /* identical to box height, or 183% */


    color: #363636;
  }


  .ad-img {
    position: absolute;
    left: 17.49%;
    right: 14.49%;
    top: 8.09%;
    bottom: 0%;
    width: 70%;
  }

  /* Autor */

  .colunista-box {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 80px;
    left: 10%;
    top: -420px;
  }

  .compartilhe-colunista {
    display: block;
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    left: 20%;
    bottom: 47.5%;
    /* identical to box height, or 183% */


    color: #363636;
  }

  .social-networks {
    position: relative;
    left: 100%;
    bottom: 70%;

  }

  .google-news {
    position: relative;
    top: -96%;
    left: 180%;
    width: 155px;
    height: 30px;

  }

  .siga-google {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    height: 14px;
    left: -30%;
    top: calc(50% - 14px/2);
    color: #333333;
  }

  .google-img {
    left: 70%;
    top: .5%;
    width: 55%;
  }

  /* Sidebar */

  .sidebar-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 21.5%;
    bottom: 20%;
    left: 72%;
    top: 460px;

  }

  .publicidade-side-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 156%;



    color: #191919;
  }

  .ml-heading {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 119%;
    color: #191919;
    margin-bottom: 10px;
  }

  .ml-rectangle {
    border: 3px solid #D1D1D1;
    width: 100%;
    position: relative;
    top: 30px;
  }

  .mais-lidas {
    position: relative;
    width: 310px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10%;

  }

  .mais-lidas-data {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;



    color: #666666;
  }


  .noticia-box {
    border-bottom: 1px solid #D8D8D8;
    width: 92.5%;
  }


  .noticia-box:last-child {
    border-bottom: none;
    margin-bottom: 10px;
  }

  .mais-lidas-titulo {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    position: relative;
    bottom: 4%;
    left: 2%;
    color: #004071;
    margin-top: 20px;
  }

  .artigo-section {
    position: relative;
    width: 60%;
    height: 3039px;
    right: 2%;
    top: -1420px;


  }

  .artigo-img {
    position: relative;
    width: 100%;
    height: 150%;
    bottom: 500px;
    left: 20%;
  }

  .legenda-completa {
    position: relative;
    left: 19.5%;
    top: 30px;
  }

  .legenda-img {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    bottom: 60px;
    left: 7%;
    color: #191919;
  }

  .fonte-src {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 183%;
    top: -100px;
    left: 7%;



    color: #777777;
  }

  .camera {
    position: relative;
    top: -22px;
    left: 2%;
  }

  .text-to-speech {
    position: relative;
    width: 94%;
    height: 50px;
    left: 22%;
    top: -50px;


  }

  .corpo-artigo {
    display: block;
    position: relative;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 200%;
    width: 94%;
    left: 22%;
    top: 37.5%;



    color: #333333;
  }

  .audio-exemple-standing {
    position: relative;
    height: 50px;
    top: 5%;
    width: 100%;
  }


  /* Leia Mais */

  .leia-mais-section {
    position: relative;
    width: 60%;
    height: 294px;

    top: -2900px;
    border: none;
    display: flex;
    flex-direction: row;
  }

  .leia-mais-titulo {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    text-transform: uppercase;
    border-top: 2px solid #D1D1D1;
    width: 29%;
    padding-top: 20px;
    top: -70px;
    left: 17%;
    color: #191919;
  }

  .artigo-card {
    position: relative;
    top: 0%;
    height: fit-content;
    margin-top: 20px;
    left: 3%;

    ;
  }

  .artigo-card:nth-child(2) {
    top: 0%;
    position: relative;
    height: fit-content;
    margin-top: 20px;
  }

  .artigo-card:nth-child(3) {
    top: 0%;
    left: 3.8%;
    height: fit-content;
    margin-top: 20px;
    position: relative;
    width: 50%;


  }


  .card-img {
    width: auto;
    height: auto;
    position: relative;
    border-radius: 2px;
  }

  .card-titulo {
    display: block;
    font-family: 'Merriweather';
    font-style: normal;
    width: 80%;
    font-weight: 400;
    font-size: 16px;
    line-height: 157%;
    position: relative;
    color: #004071;
    left: 0;
  }

  .card-data {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    top: 135px;
    width: 100%;
    left: 0%;
    color: #666666;
  }

  .leia-rectangle-bottom {
    position: absolute;
    left: 16%;
    right: 69.32%;
    top: 95.32%;
    bottom: 0%;

    border: 1px solid #D1D1D1;
  }

  .repercusao-box {
    position: relative;
    width: 57%;
    height: fit-content;
    left: 10.5%;
    top: -2900px;

  }

  .repercusao-titulo .corrida-titulo {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 143%;

    color: #333333;

  }

  .corrida-box {
    position: relative;
    width: 57%;
    height: fit-content;
    left: 10.5%;
    top: -2640px;
  }

  .continucação-paragrafo {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 200%;
    color: #333333;
  }

  .corrida-box .continucação-paragrafo:last-of-type {
    top: 120px;
    position: relative;
  }

  .advertise-bottom-page {
    position: relative;
    top: -2880px;
    left: 17%;
    width: fit-content;
  }


  .continue-bem-informado {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: relative;
    top: -2860px;
    left: 27.5%;
    align-items: center;


  }

  .continue-rectangle {
    border: 1px solid #D8D8D8;
    width: 50%;
    margin: 15px 0;
  }

  .continue-text {


    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;

    text-align: center;

    color: #191919;
  }

  .continue-e-assine a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;

    color: #004071;

  }

  .continue-e-assine {
    top: calc(50% - 16px/2 + 21.5px);
  }

  .bottom-section {
    width: 80%;
    position: relative;

    top: -2500px;
    bottom: 0;
  }

  .fique-informado {
    position: relative;
    top: -50px;
    left: 20%;
    align-items: center;
  }

  .newsletter-box {
    position: relative;
    top: 0;
    bottom: 0;
    width: 80%;
    left: 13%;

  }

  .comece {
    left: 2%;
    top: 17%;
  }


  .comentarios {

    height: 54px;
    bottom: 0;
    top: -2500px;
    left: 40%;
    padding-bottom: 100px;
    position: relative;
    width: 60%;
  }

  .comment-btn {
    position: relative;
    width: 27%;
    left: 1%;
  }

  .para-comentar {
    left: -30px;
    top: 50px;
  }

  .fique-informado {
    position: relative;
    left: 35%;
  }

  .fique-sempre {
    top: -30px;
    font-size: 22px;
    left: 5%;
    width: 100%;
  }

  .rectangle {
    position: relative;
    left: 2%;
    width: 50%;
    top: 15%;
  }

  .google-bottom {
    left: 25%;
    top: 60px;
  }

  .siga-em {
    left: 22%;
    top: 35%;
  }

  .envie-email {
    width: 75%;
  }

  .btn-send {
    position: relative;
    left: 82%;
  }

  .social-bottom {
    position: relative;
    bottom: 0;
    top: 30px;
    left: 25%;
  }

  .networks-bottom {
    left: 60%;
    bottom: 0;
  }

}